
@model IEnumerable< Prototype.Areas.Admin.Models.Participant>
@{
    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <h2>@ViewData["Title"]</h2>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Participant Email
            </th>

            <th>
                Participant Phase
            </th>

            <th>
                Participant Group
            </th>

            <th>
                Participant ResponseID
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Participant_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant_Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant_ResponseId)
            </td>
            <td>
                <a asp-page="/Edit">Edit</a> |
                <a asp-page="/Details">Details</a> |
                <a asp-page="/Delete">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    
</table>
<a class="btn btn-primary mb-3 text-white" style="width:auto">
    Export to CSV
</a>
