
@model IEnumerable< Prototype.Areas.Admin.Models.Participant>
@{
    
    Layout = "_Layout.cshtml";

}


    <h2>@ViewData["Title"]</h2>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Participant Email
            </th>

            <th>
                Participant Phase
            </th>

            <th>
                Participant Group
            </th>

            <th>
                Participant ResponseID
            </th>

            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participant_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participant_Phase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participant_Group)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participant_ResponseId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ParticipantId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ParticipantId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ParticipantId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <div>
            Nothing Found!
        </div>
    }


</table>
<a asp-action="Index">Back to List</a>
